.rateValueWrapper {
	font-size: 3.5rem;
	font-weight: 800;
	color: #ff6b00;
	font-variant-numeric: tabular-nums;
}

.errorText {
	color: #ff4444;
}

.loadingText {
	color: #404040;
}

.currency {
	font-size: 1.55rem;
	color: #ffffff;
	font-weight: 500;
	margin-left: 0.25rem;
}
