@import '../../src/app/mixins.scss';

.rateValueWrapper {
	color: #ff6b00;
	@include rate-display-text;
}

.errorText {
	color: #ff4444;
}

.loadingText {
	color: #404040;
}

.currency {
	font-size: 1.55rem;
	color: #ffffff;
	font-weight: 500;
	margin-left: 0.25rem;

	@media (max-width: 640px) {
		font-size: 1.2rem;
	}

	@media (max-width: 400px) {
		font-size: 0.8rem;
	}
}
